<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlljKDZi73ahs2Wlfmrp-t7P1Lp1htPHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1045502999827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workWizardAdmin</string>
	<key>PROJECT_ID</key>
	<string>work-wizard-bf979</string>
	<key>STORAGE_BUCKET</key>
	<string>work-wizard-bf979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045502999827:ios:76899e2d12c5fe7bd9aee6</string>
</dict>
</plist>